@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin hoverLinkOpacity {
  transition: $duration;

  &:hover {
    color: var(--cl-secondary);
  }
}

%bg {
  background: top left / auto url($path-img + "bg.png") repeat #fff;
}

%title {
  font-family: var(--font-medium);
}

