// Path
$path-img: "../img/inhtml/";
$path-fonts: "../fonts/";

// Header
$header-height-mobile: 60px;
$header-height-desktop: 132px;

// Color
$cl-primary: rgb(58 60 53);
$cl-secondary: rgb(58 60 53 / 50%);

// Fonts
$font-base: "Unbounded-Light";
$font-medium: "Unbounded-Regular";
$font-light: "Unbounded-Medium";

// Title size
$title-xs: 32px;
$title-sm: 100px;
$title-md: 124px;

// Breakpoints
$xs: 601px;
$md: 1024px;
$lg: 1201px;
$xl: 1801px;

// Transition
$duration: 0.4s;

// Root
:root {
  // Color
  --cl-primary: #{$cl-primary};
  --cl-secondary: #{$cl-secondary};

  // Fonts
  --font-base: #{$font-base};
  --font-medium: #{$font-medium};
  --font-light: #{$font-light};

  // Title size
  --title-xs: #{$title-xs};
  --title-sm: #{$title-sm};
  --title-md: #{$title-md};
}
