-
  const cards = [
    {
      image: "img/content/cars/1.png",
      price: "39 000",
      title: "1967 Toyota 2000GT",
      mileage: "14, 900"
    },
    {
      image: "img/content/cars/2.png",
      price: "39 000",
      title: "1967 Toyota 2000GT",
      mileage: "14, 900"
    },
    {
      image: "img/content/cars/3.png",
      price: "39 000",
      title: "1967 Toyota 2000GT",
      mileage: "14, 900"
    },
    {
      image: "img/content/cars/4.png",
      price: "39 000",
      title: "1967 Toyota 2000GT",
      mileage: "14, 900"
    },
    {
      image: "img/content/cars/5.png",
      price: "39 000",
      title: "1967 Toyota 2000GT",
      mileage: "14, 900"
    },

  ]