.header {
  $hamurger-size: 35px;

  position: fixed;
  top: 0;
  width: 100%;

  &__container {
    height: $header-height-mobile;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(58 60 53 / 10%);;
  }

  &__title {
    @extend %title;
    font-size: 14px;
  }

  &__contact {
    font-family: var(--font-medium);
  }

  &__menu {
    @extend %bg;
  }

  @media (max-width: $lg - 1) {
    &__checkbox {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: $hamurger-size;
      width: calc($hamurger-size * 2);
      opacity: 0;
      cursor: pointer;
      -webkit-tap-highlight-color: rgb(0 0 0 / 0);
    }

    &__checkbox:checked ~ &__menu {
      transform: translateX(0);
    }

    &__checkbox:checked ~ &__hamburger span {
      width: 100%;

      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &:nth-child(2) {
        transform: scaleY(0);
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }

    &__hamburger {
      height: 16px;
      width: $hamurger-size;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;

      span {
        display: block;
        height: 2px;
        background: var(--cl-primary);

        &:nth-child(1) {
          width: 100%;
          transition: $duration ease-in-out;
        }

        &:nth-child(2) {
          width: 80%;
          transition: 0.2s ease-in-out;
        }

        &:nth-child(3) {
          width: 60%;
          transition: $duration ease-in-out;
        }
      }
    }

    &__menu {
      overflow: auto;
      width: 100%;
      height: 100svh;
      max-height: calc(100svh - $header-height-mobile);
      padding-block-end: 20px;
      position: absolute;
      inset: $header-height-mobile 0 0 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transform: translate(150%);
      transition: transform $duration ease-in-out;
      background-color: #fff;
      text-align: center;
    }

    .navigation {
      padding-block: 60px;
    }
  }

  @media (min-width: $lg) {
    &__container {
      height: $header-height-desktop;
    }

    &__title {
      font-size: 24px;
    }

    &__checkbox, &__hamburger {
      display: none;
    }

    &__menu {
      display: contents;
    }

    &__contact:hover {
      color: var(--cl-secondary);
    }
  }
}