-
  const propsHeader = {
    title: "Cars Classic Autotrader",
    menu: [
      {
        title: "Cars",
        href: "/cars.html",
      },
      {
        title: "About Us",
        href: "/about.html",
      },
      {
        title: "Services",
        href: "/services.html",
      },
      {
        title: "Contacts",
        href: "/contacts.html",
      },
    ],
    tel: "+1 (240) 375-1288",
  }