.faq {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__head {
    display: contents;

    .button {
      order: 1;
    }
  }

  @media (min-width: $lg) {
    &__content {
      flex-direction: row;
      justify-content: space-between;
      gap: 180px;
    }

    &__head {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 60px;
    }

    &__qa {
      flex-basis: 1196px;
    }
  }
}