include ../../components/services/services

section.services-main
  .services-main__container.container
    .services-main__head
      +title({level:"h2", text: "Services"})
      +button({
        type: "button",
        text: "Submit your application",
      })
    +services
