-
  const propsAboutNumbers = {
    items: [
      {
        title: "32",
        subtitle: "Retro car",
      },
      {
        title: "400",
        subtitle: "Satisfied clients",
      },
      {
        title: "5 <span>Years</span>",
        subtitle: "Delighting our clients",
      },
    ]
  }