-
  const propsQa = [
    {
      question: "Do you offer financing options for purchasing classic cars?",
      answer: "Yes, we welcome and encourage requests for more detailed photographs or videos of any vehicle in our inventory. Contact our team, and we'll arrange the necessary details for your peace of mind."
    },
    {
      question: "Are the showcased cars fully restored or in original condition?",
      answer: "Yes, we welcome and encourage requests for more detailed photographs or videos of any vehicle in our inventory. Contact our team, and we'll arrange the necessary details for your peace of mind."
    },
    {
      question: "Do you assist with shipping for purchased classic cars?",
      answer: "Yes, we welcome and encourage requests for more detailed photographs or videos of any vehicle in our inventory. Contact our team, and we'll arrange the necessary details for your peace of mind."
    },
    {
      question: "Are your vintage cars certified or inspected for authenticity?",
      answer: "Yes, we welcome and encourage requests for more detailed photographs or videos of any vehicle in our inventory. Contact our team, and we'll arrange the necessary details for your peace of mind."
    },
    {
      question: "Can I request additional photos before purchasing?",
      answer: "Yes, we welcome and encourage requests for more detailed photographs or videos of any vehicle in our inventory. Contact our team, and we'll arrange the necessary details for your peace of mind."
    },
  ]