section.title-block
  .title-block__container.container
    +title({
        level: "h1",
        text: "Retro cars<br/> 1960-1970"
    })
    .title-block__box
      p Vintage retro cars USA
      +button({
        type: "a",
        text: "Find a car",
        icon: true,
      })(href="/")