extends layouts/default

block variables
  - const title = "Page List"

block content
  style.
      a {
          line-height: 1.5;
      }

  h1 Список страниц
  br
  ul
    li
      a(href="404.html" target="_blank") 404 Страница не найдена
    li
      a(href="main.html" target="_blank") Главная страница

block scripts
  script(src="js/vendor.js")
  script(src="js/main.js")