-
  const propsServices = {
    items: [
      {
        image: "img/content/services/services-1.jpg",
        title: "01 / Shipping"
      },
      {
        image: "img/content/services/services-2.jpg",
        title: "02 / Warranty purchase"
      },
      {
        image: "img/content/services/services-3.jpg",
        title: "03 / Financing"
      },
    ]
  }