.services-item {
  &__box {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 100%;
    height: 320px;
    border-radius: 10px;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(transparent 60%, rgb(0 0 0 / 60%));
      pointer-events: none;
    }
  }

  &__image-box {
    position: absolute;
    inset: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    padding: 24px;
    font-family: var(--font-medium);
    font-size: 16px;
    text-transform: uppercase;
    color: $cl-white;
    z-index: 1;
  }

  @media (min-width: $lg) {
    &__box {
      height: clamp(300px, 50vh, 507px);
    }
  }
}