include ../../components/about-numbers/about-numbers

section.about-main
  .container
    .about-main__info
      +title({ level: "h2", text: "About&nbsp;us<br/>in&nbsp;numbers" }).about-main__title
      p.about-main__text From acquisition to restoration, we specialize in iconic automobiles, ensuring each drive is a celebration of timeless style. Elevate your journey with our passion for preserving automotive heritage.
  +about-numbers
