.card {
  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__image-box {
    width: 100%;
    aspect-ratio: 6/3.5;
    background-color: $cl-primary;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 14px 16px 40px;
  }

  &__title {
    font-family: var(--font-medium);
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    margin-block-start: 6px;
  }

  &__chips {
    width: auto;
  }

  &--more {
    .card {
      &__image-box {
        @include flex-center;

        padding-block-end: 50px;

        img {
          height: auto;
          width: min(70%, 600px);
          opacity: 0.3;
        }
      }

      @media (max-width: $lg - 1) {
        &__info {
          padding-block-start: 0;
          margin-block-start: -68px;
        }

        &__box {
          margin-block-start: 0;
          gap: 50px;
        }

        &__chips {
          border-color: $cl-white;
          color: $cl-white;
        }
      }
    }
  }

  @media (min-width: $lg) {
    &__content {
      display: block;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(-1.19deg, rgb(0 0 0 / 70%) 9.168%, rgb(0 0 0 / 0%) 57.183%);
      }
    }

    &__info {
      gap: 29px;
      padding: 0;
      position: absolute;
      inset: auto 60px 60px;
      z-index: 1;
    }

    &__price,
    &__title {
      color: $cl-white;
    }

    &__title {
      font-size: 24px;
    }

    &__box {
      max-width: 380px;
      flex-direction: row-reverse;
      align-items: center;
      gap: 10px;

      > .button {
        padding-inline: 20px;
        flex-grow: 1;
        flex-basis: 0;
      }
    }

    &--more .card__content::after {
      content: none;
    }
  }
}