mixin card(props)
  -
    const { image, price, title, info, more } = props;
  li.card(class=[more && "card--more"])&attributes(attributes)
    .card__content
      .card__image-box
        img(src=image alt=title)
      .card__info
        if !more
          .card__price $#{price}
          .card__title #{title}
        .card__box
          +button({
            text: info,
            icon: false,
          }).border-white.card__chips
          +button({
            type: "a",
            text: [more ? "All cars" : "Rent"],
            icon: true,
          })(href="/").fill-white
