-
  const propsFooter = {
    menu: [
      {
        title: "Cars",
        href: "/cars.html",
      },
      {
        title: "About Us",
        href: "/about.html",
      },
      {
        title: "Services",
        href: "/services.html",
      },
      {
        title: "How to rent",
        href: "/how-to-rent.html",
      },
      {
        title: "Contacts",
        href: "/contacts.html",
      },
    ],
  }